<div class="container-divider"></div>
<div class="container">
  <h1>
    Ask us your COVID-19 question
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>

  <div id="main-content" class="form">
    {{request_form wysiwyg=true}}
    <p>For details about how your personal information will be handled, please see the ABC Privacy Collection Statement at <a href="https://help.abc.net.au/hc/en-us/articles/360001511015-Privacy-Collection-Statement-">https://help.abc.net.au/hc/en-us/articles/360001511015-Privacy-Collection-Statement-</a>.</p>
  </div>
</div>
